{% extends 'core/base.html' %}
{% load static %}
{% load menu %}
{% load crispy_forms_tags %}

{% block title %}
Construction
{% endblock %}

{% block start %}
<link rel="stylesheet" href="{% static 'styles/construction.css' %}">

<section id="construction">

    <div class="container">
        <div class="row py-4">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="constrution-title">
                    <span>
                        <h3 class="text-dark">CONSTRUCTION</h3>
                    </span>
                </div>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-12">
                <div class="construction-description">
                    <span>
                        <p>To know the cost for complete construction, Please enter the required area.</p>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row py-2 d-block">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 py-2">
                <form class="d-block" action="." method="get">
                    <div class="d-flex">
                        <div class="area-title"><label for="">Area</label></div>
                        <div class="text-input ps-2"><input type="text" name="area" required></div>
                        <div class="unit-title ps-2">sq. ft.</div>
                    </div>
                    <!--
                    <div class="row d-flex justify-content-start py-3">
                        <div class="col-auto brand-select">
                            <select name="brand-list" id="brand" style="width: 100px;">
                                <option value="none" selected disabled hidden>Brand</option>
                                {% for brand in brand %}
                                <option value="{% url 'brand_detail' brand.slug %}">
                                    {{brand.title}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto size-select">
                            <select name="size-list" id="size" style="width: 100px;">
                            <option value="none" selected disabled hidden>Size</option>
                            {% for size in size %}
                            <option value="{% url 'size_detail' size.slug %}">
                                {{size.title}}
                            </option>
                            {% endfor %}
                        </select>
                        </div>
                    </div>
                    -->
                    <div class="py-3">
                        <button class="btn btn-md btn-primary text-white">Enter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row py-2">
                    <div class="col-12 d-block">
                        <div class="title">
                            <span>
                                <h5>Area</h5>
                            </span>
                        </div>
                        <div class="value d-flex align-items-centervalue border border-secondary px-2">
                            <span>
                                {% if area %}
                                {{area}} sq. ft.
                                {% else %}
                                0 sq. ft.
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12">
                        <div class="title">
                            <span>
                                <h5>Iron</h5>
                            </span>
                        </div>
                        <div class="value d-flex align-items-center border border-secondary px-2">
                            <span>
                                {% if area %}
                                ₹. {{iron}}
                                {% else %}
                                ₹. 0
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12">
                        <div class="title">
                            <span>
                                <h5>Roofing Sheet</h5>
                            </span>
                        </div>
                        <div class="value d-flex align-items-center border border-secondary px-2">
                            <span>
                                {% if area%}
                                ₹. {{roofing_sheet}}
                                {% else %}
                                ₹. 0
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12">
                        <div class="title">
                            <span>
                                <h5>Worker Wages</h5>
                            </span>
                        </div>
                        <div class="value d-flex align-items-center border border-secondary px-2">
                            <span>
                                {% if area %}
                                ₹. {{wages}}
                                {% else %}
                                ₹. 0
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-12 d-flex justify-content-end">
                        <div class="total-title d-flex align-items-center">
                            <span>
                                <h5>Total Eastimated Cost:&nbsp;</h5>
                            </span>
                        </div>
                        <div class="total-value d-flex align-items-center">
                            <span>
                                <h4>
                                    {% if area %}
                                    ₹. {{total}}
                                    {% else %}
                                    ₹. 0
                                    {% endif %}
                                </h4>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="message d-block py-2">
                    <span>
                        <p class="text-danger"> <small>* The actual cost may be different from the
                                calculated price
                                displayed
                                below.</small></p>
                    </span>
                    <span>
                        <p class="text-danger"><small>* For actual cost please contact our customer
                                service.</small></p>
                    </span>
                </div>
            </div>
        </div>
    </div>

</section>

{% include 'core/footer.html' %}
{% endblock %}