{% load static %}

{% block start %}
<link rel="stylesheet" href="{% static 'styles/footer.css' %}">

<!--Footer Section-->
<section id="footer-section">

    <section id="footer">
        <div class="container">
            <div class="row p-2">
                <div class="col-xl-3 col-lg-3 col-md-3 col-6 d-block p-0">
                    <div class="company-logo">
                        <a class="footer-link" href="/">
                            <img class="img-fluid" src="{% static 'images/logo/brand-logo1.png' %}" alt="Company Logo"
                                style="width: 60px; height: 60px;">
                        </a>
                    </div>
                    <div class="company-info">
                        <span>
                            <p class="text-dark">
                                PrideHouse
                            </p>
                        </span>
                    </div>
                    <div class="read-btn">
                        <a class="footer-link" href="about">
                            <button class="btn btn-sm btn-primary dark">
                                Read More
                            </button>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6 d-block p-0">
                    <div class="footer-title d-flex justify-content-start">
                        <h6 class="text-dark">
                            Site Map
                        </h6>
                    </div>
                    <div class="footer-content d-flex justify-content-start">
                        <ul class="footer-nav p-0">
                            <li class="footer-item py-2">
                                <a class="footer-link" href="/">Home</a>
                            </li>
                            <li class="footer-item py-2">
                                <a class="footer-link" href="{% url 'about' %}">About</a>
                            </li>
                            <li class="footer-item py-2">
                                <a class="footer-link" href="{% url 'product' %}">Products</a>
                            </li>
                            <li class="footer-item py-2">
                                <a class="footer-link" href="{% url 'seller' %}">Seller</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6 d-block p-0">
                    <div class="footer-title d-flex justify-content-start">
                        <h6 class="text-dark">
                            Quick Links
                        </h6>
                    </div>
                    <div class="footer-content d-flex justify-content-start">
                        <ul class="footer-nav p-0">
                            <li class="footer-item py-2">
                                <a class="footer-link" href="{% url 'privacy' %}">Privacy</a>
                            </li>
                            <li class="footer-item py-2">
                                <a class="footer-link" href="{% url 'return' %}">Return Policy</a>
                            </li>
                            <li class="footer-item py-2">
                                <a class="footer-link" href="{% url 'payment' %}">Payments</a>
                            </li>
                            <li class="footer-item py-2">
                                <a class="footer-link" href="{% url 'delivery' %}">Delivery</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-6 d-block p-0">
                    <div class="footer-title d-flex justify-content-start">
                        <h6 class="text-dark">
                            Payment Methods
                        </h6>
                    </div>
                    <div class="footer-content">
                        <ul class="footer-item d-flex justify-content-start p-0">
                            <li class="footer-link px-2">
                                <img class="img-fluid" src="{% static 'images/google-pay.png' %}" alt=""
                                    style="width: 32px;">
                            </li>
                            <li class="footer-link px-2">
                                <img class="img-fluid" src="{% static 'images/visa.png' %}" alt=""
                                    style="width: 24px;">
                            </li>
                        </ul>
                    </div>
                    <div class="footer-title">
                        <h6 class="text-dark">
                            Head Office:
                        </h6>
                    </div>
                    <div class="head-office-address">
                        <p class="text-dark">
                            <small>
                                Opp. CIPET, Takyel Road, <br>
                                Khuraijam Leikai, <br>
                                Imphal, Manipur, <br>
                                795004.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="copyright">
        <div class="container">
            <div class="row py-2">
                <div class="col-6 d-flex align-items-center">
                    <div class="company-profile">
                        <small>Designed & Developed by <a href="http://www.capisoft.in" style="text-decoration: none; color: blue;">CapiSoft</a></small>
                    </div>
                </div>
                <div class="col-6 d-flex align-items-center">
                    <div class="copyright-content text-black">
                        <small>&#169; 2023 P26, All Rights Reserved</small>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>
<!------------------>

{% endblock%}