{% extends 'core/base.html' %}
{% load static %}
{% load menu %}

{% block title %}
Product
{% endblock %}

{% block start %}
<link rel="stylesheet" href="{% static 'styles/product.css' %}">

<section id="products">

    <section id="product-section">
        <div class="container">
            <div class="row d-flex align-items-center justify-content-between py-2">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex py-4">
                    <div class="product-title">
                        <span>
                            <h3 class="text-dark">ALL PRODUCTS</h3>
                        </span>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 d-flex justify-content-end">
                    <div class="category-select px-1">
                        <small>
                            <select class="py-1" name="category_list" id="category" onchange="location = this.value;" style="width: 90px;">
                                <option value="none" selected disabled hidden>Category</option>
                                {% for category in category %}
                                    <option value="{% url 'category_detail' category.slug %}">
                                        {{category.title}}
                                    </option>
                                {% endfor %}
                            </select>
                        </small>
                    </div>
                    <div class="brand-select px-1">
                        <small>
                            <select class="py-1" name="brand_list" id="brand" onchange="location = this.value;" style="width: 90px;">
                                <option value="none" selected disabled hidden>Brand</option>
                                {% for brand in brand %}
                                    <option value="{% url 'brand_detail' brand.slug %}">
                                        {{brand.title}}
                                    </option>
                                {% endfor %}
                            </select>
                        </small>
                    </div>
                    <div class="size-select px-1">
                        <small>
                            <select class="py-1" name="size_list" id="brand" onchange="location = this.value;" style="width: 90px;">
                                <option value="none" selected disabled hidden>Size</option>
                                {% for size in size %}
                                    <option value="{% url 'size_detail' size.slug %}">
                                        {{size.title}}
                                    </option>
                                {% endfor %}
                            </select>
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-list" style="background-color: white;">
            <div class="container">
                <div class="row d-flex justify-content-between py-3">
                {% if products %}
                    {% for product in products %}
                    <div id="product-item" class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 px-3 py-4">
                        <a class="product-link" href="{% url 'category_product' product.category.slug product.slug %}">
                            <div class="product-card d-block rounded p-2" style="background-color: #f2f2f2;">
                                {% if product.image %}
                                    <div class="product-image d-flex justify-content-center">
                                        <img class="img-fluid" src="{{ product.image.url }}" alt="image of {{ product.title }}">
                                    </div>
                                {% else %}
                                    <div class="product-image d-flex justify-content-center">
                                        <img class="img-fluid" src="{% static '/images/thumbnail/product-thumbnail.jpg' %}" alt="image of {{ product.title }}">
                                    </div>
                                {% endif %}
                                <div class="product-title">
                                    {{ product.title }}
                                </div>
                                <div class="product-brand-title">
                                    {{ product.brand.title }}
                                </div>
                                <div class="product-price">
                                    ₹.&nbsp;{{ product.price }}.00
                                </div>
                                <div class="product-description">
                                    {{ product.description }}
                                </div>
                                <div class="add-to-cart-btn d-flex justify-content-end py-2 px-2">
                                    <a href="{% url 'add_to_cart' product.id %}">
                                        <img class="img-fluid" src="{% static 'images/add-to-cart.png' %}" alt="Cart icon"
                                            style="width: 16px;">
                                    </a>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>Product will be updated soon</p>
                {% endif %}
                </div>
                <div class="paginator d-flex justify-content-center">
                    <div class="row">
                        <div class="col-auto">
                            {% if products.has_other_pages %}
                            <ul class="pagination">
                                {% if products.has_previous %}
                                <li><a class="text-dark" href="?page={{ products.previous_page_number }}">&laquo;</a>
                                </li>
                                {% else %}
                                <li class="disabled text-dark"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in products.paginator.page_range %}
                                {% if products.number == i %}
                                <li class="active text-dark px-1"><span>{{ i }}</span>
                                </li>
                                {% else %}
                                <li><a class="px-1" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endfor %}
                                {% if products.has_next %}
                                <li><a class="text-dark" href="?page={{ products.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                <li class="disabled text-dark"><span>&raquo;</span></li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>

{% include 'core/footer.html' %}
{% endblock %}